.grid {
    height: 500px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-left: 480px;
    margin-top: 80px;
}

.turn-highlight {
    color: #fff
}